<% if logged_in? %>

<script type="text/javascript">
  window.currentUser = <%= render(
  "api/users/user.json.jbuilder",
  { user: current_user }
  ).html_safe %>
</script>
<% end %>

<script type="text/javascript">
  window.shipURL = "<%= asset_url('austin-neill-685080-unsplash.jpg') %>";
  window.flagURL = "<%= asset_url('flag.jpg') %>";
  window.phoneURL = "<%= asset_url('alexander-andrews-633927-unsplash.jpg') %>"
  window.pearlURL = "<%= asset_url('103546.jpg') %>"
  window.phone1URL = "<%= asset_url('phone_1.webm') %>"
  window.phone2URL = "<%= asset_url('phone_2.webm') %>"
  window.phone3URL = "<%= asset_url('phone_3.png') %>"
  window.phone4URL = "<%= asset_url('phone_4.webm') %>"
</script>
<div id="root"></div>
