<!DOCTYPE html>
<html>
  <head>
    <title>Sparrow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
  window.shipURL = "<%= image_url('austin-neill-685080-unsplash.jpg') %>"
</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
